/* General primaryButton Styles */
.primaryButton,.contactButton1,.contactButton2 {
    font-family: var(--font1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    position: relative; /* Ensure position is relative for pseudo-elements */
}

.primaryButton::before,.contactButton1::before,.contactButton2::before {
    content: '';
    position: absolute;
    bottom: 0; /* Start from the bottom */
    left: 50%;
    width: 200%;
    height: 200%; /* Make it oval-shaped */
    background-color: var(--primary);
    border-radius: 50%;
    transform: translate(-50%, 100%) scale(0); /* Start from the bottom */
    transition: transform 0.8s ease-out;
    z-index: 0;
}

.primaryButton:hover::before,.contactButton1:hover::before,.contactButton2:hover::before {
    transform: translate(-50%, 0) scale(1.2); /* Animate from bottom to center */

}

.primaryButton span,.contactButton1 span,.contactButton2 span{
    position: relative;
    z-index: 1;
}