/* General Styles */
#contactSection {
    width: 100vw;
    height: 120vh;
    position: relative;
    background-color: var(--background);
    overflow: hidden;
}

#backgroundImage {
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 40%;
    z-index: 1;
}

#backgroundImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#contactText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

#contactText h1 {
    font-family: var(--font1);
    font-size: 6vw;
    color: var(--white);
    font-weight: 100;
    text-align: center;
}

/* Button Styles */
.contactButton1,
.contactButton2 {
    color: var(--white);
    font-size: 1.2vw;
    font-weight: bold;
    background-color: var(--black);
    border-radius: 10vw;
    width: 25vw;
    height: 5vw;
    z-index: 2;
    cursor: pointer;
}

.contactButton1 {
    top: 56%;
    left: 23%;
}

.contactButton2 {
    top: 47.3%;
    left: 50%;
}

/* Contact Info Styles */
.contact-info {
    width: 80vw;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    left: 10%;
    box-sizing: border-box;
}

.contact-links {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.contact-link {
    width: 21.2%;
    opacity: 1;
    visibility: visible;
    transition: all 0.9s ease;
}

.contact-link-item {
    padding: 2vh 0;
    color: var(--black);
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--white);
    font-size: 0.5vw;
    font-family: var(--font1);
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    background-color: transparent;
    transition: color 0.6s cubic-bezier(0, 0.89, 0.41, 1), padding 0.6s cubic-bezier(0, 0.89, 0.41, 1);
}

.contact-link-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.6s cubic-bezier(0, 0.89, 0.41, 1);
    z-index: 0;
}

.contact-link-item:hover::before {
    transform: scaleY(1);
}

.contact-link-item:hover {
    color: var(--white);
    padding: 2vh 1vw; /* Increase padding on hover */
}

.contact-link-item * {
    position: relative;
    z-index: 1;
    transition: color 0.6s cubic-bezier(0, 0.89, 0.41, 1);
}

.contact-link-item:hover * {
    color: var(--white);
}

.contact-link-title {
    color: var(--white);
    font-size: 2.5vw;
    padding-bottom: 1vh;
    font-family: var(--font1);
}

.contact-link-username {
    color: var(--white);
    font-size: 1vw;
    padding-bottom: 4px;
    opacity: 0.6;
    font-family: var(--font2);
}

/* Footer Styles */
.contact-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    color: var(--white);
}

.contact-footer-text {
    color: var(--white);
    font-size: 1.5vw;
    font-family: var(--font2);
}

.contact-footer-copyright {
    opacity: 0.6;
}

.contact-footer-credits,
.contact-footer-portfolio {
    color: var(--white);
    font-size: 1.5vw;
    font-family: var(--font1);
}

.contact-footer-credits {
    text-decoration: underline;
    cursor: pointer;
}

/* Overlay and Dialog Styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
    opacity: 0;
}

.dialog-box {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: white;
    z-index: 1000;
    border-radius: 2vw;
    overflow: hidden;
    opacity: 0;
}

.dialog-header {
    display: flex;
    justify-content: flex-end;
    padding: 1vw;
}

.close-button {
    background: var(--black);
    border: none;
    max-width: 4vw;
    max-height: 4vw;
    font-size: 2vw;
    cursor: pointer;
}

.dialog-content {
    padding: 1vw;
}

/* Step Styles */
.step {
    display: none;
    opacity: 0;
    transform: translateY(-50px);
}

.step h2,
.step p,
.step .input-container,
.step .option-buttons,
.step .option-button {
    opacity: 0;
    transform: translateY(-50px);
}

.step h2 {
    font-family: var(--font1);
    font-size: 3vw;
    color: var(--black);
    position: absolute;
    top: 20%;
    left: 10%;
    font-weight: 300;
}

.step p {
    font-family: var(--font2);
    font-size: 2vw;
    color: var(--black60);
    margin-top: 2vw;
    position: absolute;
    top: 30%;
    left: 10%;
}

.input-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 10%;
}

.input-container input {
    border: none;
    border-bottom: 1px solid var(--black);
    font-size: 1.2vw;
    padding-bottom: 0.5vw;
    width: 32vw;
    font-family: var(--font2);
    outline: none;
}

.input-container input::placeholder {
    color: var(--black40);
}

.input-container input:focus {
    border-bottom: 1px solid var(--primary);
}

.input-container input:focus::placeholder {
    color: var(--black10);
}

/* Option Button Styles */
.option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--black80);
    font-family: var(--font2);
    border: 1px solid var(--black);
    border-radius: 4vw;
    width: 20vw;
    height: 3vw;
    cursor: pointer;
    font-size: 1vw;
    position: absolute;
}

.option1 { top: 35%; }
.option2 { top: 44%; }
.option3 { top: 53%; }
.option4 { top: 62%; }
.option5 { top: 71%; }

/* Additional Styles */
.bulletIcon {
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 0.5vw;
}

.helloIcon {
    border: none;
    position: absolute;
    left: 4%;
    top: 0%;
}

.congratsAnimation {
    border: none;
    width: 20vw;
    height: 20vw;
    position: absolute;
    top: 40%;
    left: 40%;
}

.next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw 1vw;
    background-color: var(--primary25);
    color: var(--black);
    border: none;
    font-family: var(--font1);
    border-radius: 4vw;
    cursor: pointer;
    position: absolute;
    left: 10%;
    top: 84%;
}
