#contactSection {
    width: 100vw;
    height: 120vh;
    position: relative;
    background-color: var(--background);
    overflow: hidden;
}


/* Specific primaryButton Styles for Contact Section */
.contactButton1,
.contactButton2 {
    color: var(--white);
    font-size: 1.2vw;
    font-weight: bold;
    background-color: var(--black);
    border-radius: 10vw;
    width: 25vw;
    border: none;   
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 5vw;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
}

.contactButton1 {
    top: 56%;
    left: 23%;
}

.contactButton2 {
    top: 47.3%;
    left: 50%;
}

.contactButton1::before,
.contactButton2::before {
    content: '';
    position: absolute;
    bottom: 0; /* Start from the bottom */
    left: 50%;
    width: 200%;
    height: 200%; /* Make it oval-shaped */
    background-color: var(--primary);
    color:white;
    border-radius: 50%;
    transform: translate(-50%, 100%) scale(0); /* Start from the bottom */
    transition: transform 0.8s ease-out;
    z-index: 0;
}

.contactButton1:hover::before,
.contactButton2:hover::before {
    transform: translate(-50%, 0) scale(1.2); /* Animate from bottom to center */
}

.contactButton1 span,
.contactButton2 span {
    position: relative;
    z-index: 2;
}


#backgroundImage {
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 40%;
    z-index: 1;
}

#backgroundImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#contactText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

#contactText h1 {
    font-family: var(--font1);
    font-size: 6vw;
    color: var(--white);
    font-weight: 100;
    text-align: center;
}

.contact-info {
    width: 80vw;
    position: absolute;
    z-index: 5;
    bottom: 5%;
    left:10%;
    box-sizing: border-box;
}

.contact-links {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-transform: none;
    box-sizing: border-box;
    margin-bottom: 5vh;
}

.contact-link {
    width: 21.2%;
    opacity: 1;
    visibility: visible;
    transform: matrix(1, 0, 0, 1, 0, 0);
    transition: all 0.9s ease;
}

.contact-link-item {
    padding: 2vh 0vw;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border-top: 1px solid var(--white);
    transition: color 0.6s cubic-bezier(0, 0.89, 0.41, 1), padding 0.6s cubic-bezier(0, 0.89, 0.41, 1);
    position: relative;
    overflow: hidden;
    font-size: 0.5vw;
    font-family: var(--font1);
    text-transform: uppercase;
}

.contact-link-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.6s cubic-bezier(0, 0.89, 0.41, 1);
    z-index: 0;
}

.contact-link-item:hover::before {
    transform: scaleY(1);
}

.contact-link-item:hover {
    color: var(--white);
    padding: 2vh 1vw; /* Increase left and right padding on hover */
}

.contact-link-item * {
    position: relative;
    z-index: 1;
    transition: color 0.6s cubic-bezier(0, 0.89, 0.41, 1);
}

.contact-link-item:hover * {
    color: var(--white);
}

.contact-link-title {
    color: var(--white);
    font-size: 2.5vw;
    padding-bottom: 1vh;
    text-transform: none;
    font-family: var(--font1);
}

.contact-link-username {
    color: var(--white);
    font-size: 1vw;
    padding-bottom: 4px;
    opacity: 0.6;
    text-transform: none;
    font-family: var(--font2);
}

.contact-link-icon {
    width: 4vw;
}

.contact-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    color: var(--white);
    text-transform: capitalize;
}

.contact-footer-text {
    color: var(--white);
    text-transform: capitalize;
    font-size: 1.5vw;
    font-family: var(--font2);

}

.contact-footer-copyright {
    opacity: 0.6;
}

.contact-footer-credits {
    text-decoration: underline solid var(--white);
    cursor: pointer;
}


.contact-footer-portfolio {
    color: var(--white);
    text-transform: capitalize;
    font-size: 1.5vw;
    font-family: var(--font1);
}
.overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    backdrop-filter: blur(5px); /* Blur effect */
    z-index: 999; /* Below the dialog box */
    opacity: 0; /* Initially transparent */
}

.dialog-box {
    display: none; /* Initially hidden */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: white;
    z-index: 1000;
    border-radius: 2vw;
    overflow: hidden;
    opacity: 0; /* Initially transparent */
}

.dialog-header {
    display: flex;
    width: 65vw;
    justify-content: flex-end;
    padding: 1vw;
}

.close-button {
    background: var(--black);
    border: none;
    align-items: center;
    justify-content: center;vertical-align: text-top;
    max-width: 4vw;
    display: flex;
    max-height: 4vw;
    font-size: 3vw;
    cursor: pointer;
}

.dialog-content {
    padding: 1vw;
}

.step {
    display: none; /* Initially hidden */
}

.next-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw 1vw;
    background-color: var(--primary25);
    color: var(--black);
    border: none;
    font-family: var(--font1);
    border-radius: 4vw;
    cursor: pointer;
} 

.next-button
{
    position: absolute;
    left:10%;
    top:84%;
}


.bulletIcon {
    width:  1.5vw; /* Adjust size of the bullet icon */
    height:  1.5vw; /* Adjust size of the bullet icon */
    margin-right: 0.5vw; /* Space between icon and input field */
}



.helloIcon
{
    border:none;
    position: absolute;
    left:4%;
    top:0%;
}


.step h2
{
    font-family: var(--font1);
    font-size: 3vw;
    color: var(--black);
    position: absolute;
    top:20%;
    font-weight: 300;
    left:10%;
    top:20%;

}

.step p
{
    font-family: var(--font2);
    font-size: 2vw;
    display: flex;
    color: var(--black60);
    margin-top:2vw;
    position: absolute;
    left:10%;
    top:30%;
}


.input-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10%;
    top: 40%;
}


.input-container input {
    border: none;
    border-bottom: 1px solid var(--black);
    font-size: 1.2vw;
    padding-bottom: 0.5vw;
    font-family: var(--font2);
    width: 32vw;
    outline: none; /* Remove default input focus outline */
}

.input-container input::placeholder {
    color: var(--black40);
}

.input-container input:focus {
    border-bottom: 1px solid var(--primary);
}

.input-container input:focus::placeholder {
    color: var(--black10);
}

.option-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--black80);
    font-family: var(--font2);
    border: 1px solid var(--black);
    border-radius: 4vw;
    width: 20vw;
    height: 3vw;
    cursor: pointer;
}


.option-button
{
    position: absolute;
    font-size: 1vw;
    left: 10%;

}


.option1
{
    top:35%;
}

.option2
{
    top:44%;
}
.option3
{
    top:53%;
}
.option4{
    top:62%;
}
.option5
{
    top:71%;
}


.step h2, .step p, .step .input-container, .step .option-buttons, .step .option-button {
    opacity: 0; /* Initially hidden */
    transform: translateY(-50px); /* Initially positioned off-screen */
}

.congratsAnimation
{
    border:none;
    width: 20vw;
    height:20vw;
    position: absolute;
    top:40%;
    left:40%;
}