#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0 auto; /* Center the header within the container */
    z-index: 1000;
    padding: 2vh 4vw;
}
#logoContainer
{
    width:10vw;
    height: 4vw;
}

#logo
{
    height: 100%;
    width: auto;
}


#menu
{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

#menu button
{
    background-color: transparent;
    border:none;
}

#menu img {
    width: 2vw;
    height: 2vw;
    cursor: none;
    transition: all 0.3s ease;
}

#menu img:hover {
    width: 3vw;
    height: 3vw;
}

.resume
{
    color: var(--white);
    font-size: 1vw;
    background-color: transparent;
    border-radius: 4vw;
    width:10vw;
    height: 5vw;
    border: none;
}

